<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/receive.css">
    <title>BeerBack</title>
</head>
<nav class="navbar" id="nav">
    <a class="navbar-brand" href="/"><svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.3812 0.361597C13.8282 0.799895 13.8689 1.48576 13.5031 1.96907L13.3812 2.10754L3.28987 12L13.3812 21.8925C13.8282 22.3308 13.8689 23.0166 13.5031 23.4999L13.3812 23.6384C12.9341 24.0767 12.2344 24.1165 11.7414 23.7579L11.6002 23.6384L0.618849 12.873C0.171759 12.4347 0.131115 11.7488 0.496915 11.2655L0.618849 11.127L11.6002 0.361597C12.092 -0.120532 12.8894 -0.120532 13.3812 0.361597Z" fill="#200E32"/>
        </svg>
    </a>
      <p class="navbar-brand">Confirmação</p>
      <p class="navbar-brand"></p>
  </nav>
<body>
    <div class="container">
        <div class="cap">
                <div class="form">
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Vasilhame</option>
                        <option value="2">Lata</option>
                      </select><br>
                      <label for="form-control">Quantidade:</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                      </div>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Vasilhame</option>
                        <option value="2">Lata</option>
                      </select><br>
                      <label for="form-control">Quantidade:</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                      </div>
                    
                      <div class="d-grid gap-2" id="bot">
                        <button class="btn btn-success" type="button">Confirmar</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>