<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>
<body>
    <div class="container" id="intro">
        <h2>Ajude a salvar o planeta!</h2>
    </div>
   <div class="container">
       
        <img src="/img/fabrica.jpg" />
    </div>
      </form>
   </div>
</body>
<%- include('partials/footer.ejs') %>

