<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Beer Back</title>
</head>

<body>
        <div class="container">
            <svg width="411" height="112" viewBox="0 0 411 112" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M425.5 46C385.5 46.8333 296.1 41.4 258.5 13C211.5 -22.5 -8.5 59 -14.5 104C-19.3 140 -32.5 37 -38.5 -19L361 -25.5L442.5 -5.5L425.5 46Z" fill="#FFF76A"/>
            </svg>                
        </div>
</body>