<%- include('partials/head.ejs') %>

<body>
        <div class="logo">
             <div class="background" style="margin-left: 10px;">
                <svg width="338" height="338" viewBox="0 0 338 338" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="169" cy="169" r="169" fill="#ADCE74"/>
                 </svg>
             </div>
        </div>
        

        <div id="input">
            <input type="text" id="txt_cpf" placeholder="CPF"/>

        </div>
    
</body>
<%- include('partials/footer.ejs') %>


