<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Beer Back</title>
</head>

<body>
        <div class="container">    
            <div class="logo">
                <svg width="338" height="338" viewBox="0 0 338 338" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="169" cy="169" r="169" fill="#ADCE74"/>
                    <g clip-path="url(#clip0)">
                    <path d="M173.799 254.904C167.982 255.097 162.147 254.538 160.065 251.886C155.827 246.488 154.278 238.475 154.273 238.452L154.262 238.432L138.865 154.677L143.925 131.927L140.492 76.5846H101.237L100.872 93.458L76.0005 68.7289L100.872 44L101.013 61.096H159.992C161.142 60.9658 162.218 60.9391 163.201 61.096H163.201V61.096C165.482 61.4602 167.26 62.8116 168.296 66.143L186.344 124.146L199.167 143.615L214.565 227.371L214.562 227.393C214.565 227.413 215.629 233.514 214.555 239.415H235.763L236.129 222.542L261 247.271L236.129 272L235.987 254.904H173.799V254.904H173.799ZM140.386 74.8755L140.165 71.3033C139.746 64.5585 144.57 63.7714 150.454 62.8112L150.492 62.8051H99.3164L99.1944 48.0791L78.4257 68.729L99.2475 89.4317L99.563 74.8755H140.386H140.386ZM214.178 241.125C214.101 241.421 214.017 241.715 213.926 242.007C211.867 248.614 191.88 252.587 188.609 253.195H237.684L237.806 267.921L258.575 247.271L237.753 226.568L237.437 241.124H214.178V241.125ZM162.863 249.704C166.162 253.906 187.45 249.801 187.511 249.79L187.525 249.787C187.586 249.776 208.945 246.059 210.534 240.96C212.27 235.391 211.136 228.433 211.065 228.013L211.059 228.014L195.785 144.934L183.081 125.645L164.893 67.1916C163.841 63.8093 160.474 64.4954 156.368 65.3325C155.511 65.5071 154.628 65.687 153.702 65.8489C152.779 66.0262 151.889 66.1715 151.027 66.3122C146.89 66.9872 143.5 67.5405 143.719 71.0757L147.509 132.17L142.495 154.709L157.768 237.789L157.762 237.791C157.845 238.209 159.26 245.115 162.863 249.704L162.863 249.704Z" fill="black"/>
                    </g>
                    <path d="M223.196 184.504C225.956 184.504 228.152 185.068 229.784 186.196C231.416 187.3 232.232 188.956 232.232 191.164C232.232 192.508 231.944 193.672 231.368 194.656C230.816 195.64 230.048 196.432 229.064 197.032C230.432 197.68 231.512 198.532 232.304 199.588C233.096 200.62 233.492 201.82 233.492 203.188C233.492 204.628 233.228 205.852 232.7 206.86C232.196 207.844 231.5 208.648 230.612 209.272C229.748 209.872 228.764 210.316 227.66 210.604C226.556 210.868 225.416 211 224.24 211H215.42V184.504H223.196ZM223.808 195.34C224.84 195.34 225.596 195.028 226.076 194.404C226.58 193.78 226.832 193.072 226.832 192.28C226.832 191.368 226.52 190.684 225.896 190.228C225.296 189.772 224.48 189.544 223.448 189.544H220.64V195.34H223.808ZM223.988 206.14C225.14 206.14 226.112 205.912 226.904 205.456C227.696 204.976 228.092 204.22 228.092 203.188C228.092 202.42 227.876 201.844 227.444 201.46C227.012 201.052 226.448 200.776 225.752 200.632C225.08 200.464 224.372 200.38 223.628 200.38H220.64V206.14H223.988ZM234.827 211L246.779 183.46H247.067L259.019 211H252.971L250.919 205.816H242.135L239.975 211H234.827ZM243.971 201.424H249.191L246.635 194.98L243.971 201.424ZM280.96 208.804C280.672 209.044 280.132 209.368 279.34 209.776C278.572 210.184 277.624 210.544 276.496 210.856C275.368 211.168 274.12 211.312 272.752 211.288C270.664 211.24 268.792 210.868 267.136 210.172C265.504 209.452 264.112 208.48 262.96 207.256C261.832 206.032 260.968 204.628 260.368 203.044C259.768 201.46 259.468 199.768 259.468 197.968C259.468 195.28 260.008 192.904 261.088 190.84C262.168 188.776 263.668 187.156 265.588 185.98C267.532 184.804 269.788 184.216 272.356 184.216C274.132 184.216 275.704 184.456 277.072 184.936C278.44 185.416 279.556 185.932 280.42 186.484L278.368 191.416C277.768 190.96 276.964 190.492 275.956 190.012C274.972 189.508 273.832 189.256 272.536 189.256C271.192 189.256 269.932 189.628 268.756 190.372C267.604 191.116 266.668 192.124 265.948 193.396C265.252 194.644 264.904 196.072 264.904 197.68C264.904 199.384 265.228 200.884 265.876 202.18C266.524 203.452 267.448 204.448 268.648 205.168C269.848 205.888 271.252 206.248 272.86 206.248C274.276 206.248 275.488 206.02 276.496 205.564C277.504 205.108 278.272 204.628 278.8 204.124L280.96 208.804ZM291.482 193.936L291.338 195.268L292.13 194.26L300.77 184.504H307.538L296.594 196.384L307.574 211H300.95L292.778 199.696L291.482 200.992V211H286.19V184.504H291.482V193.936Z" fill="white"/>
                    <path d="M45.196 109.504C47.956 109.504 50.152 110.068 51.784 111.196C53.416 112.3 54.232 113.956 54.232 116.164C54.232 117.508 53.944 118.672 53.368 119.656C52.816 120.64 52.048 121.432 51.064 122.032C52.432 122.68 53.512 123.532 54.304 124.588C55.096 125.62 55.492 126.82 55.492 128.188C55.492 129.628 55.228 130.852 54.7 131.86C54.196 132.844 53.5 133.648 52.612 134.272C51.748 134.872 50.764 135.316 49.66 135.604C48.556 135.868 47.416 136 46.24 136H37.42V109.504H45.196ZM45.808 120.34C46.84 120.34 47.596 120.028 48.076 119.404C48.58 118.78 48.832 118.072 48.832 117.28C48.832 116.368 48.52 115.684 47.896 115.228C47.296 114.772 46.48 114.544 45.448 114.544H42.64V120.34H45.808ZM45.988 131.14C47.14 131.14 48.112 130.912 48.904 130.456C49.696 129.976 50.092 129.22 50.092 128.188C50.092 127.42 49.876 126.844 49.444 126.46C49.012 126.052 48.448 125.776 47.752 125.632C47.08 125.464 46.372 125.38 45.628 125.38H42.64V131.14H45.988ZM60.7286 109.504H78.8006V114.544H65.9486V120.196H77.3246V125.236H65.9486V130.96H79.3046V136H60.7286V109.504ZM84.7052 109.504H102.777V114.544H89.9252V120.196H101.301V125.236H89.9252V130.96H103.281V136H84.7052V109.504ZM116.71 109.504C120.046 109.504 122.602 110.32 124.378 111.952C126.178 113.56 127.078 115.72 127.078 118.432C127.078 119.944 126.754 121.432 126.106 122.896C125.482 124.36 124.414 125.524 122.902 126.388L129.058 136H122.974L117.394 127.576H113.902V136H108.682V109.504H116.71ZM117.61 122.536C118.666 122.536 119.482 122.32 120.058 121.888C120.658 121.432 121.078 120.904 121.318 120.304C121.558 119.68 121.678 119.116 121.678 118.612C121.678 118.324 121.63 117.964 121.534 117.532C121.462 117.076 121.294 116.62 121.03 116.164C120.766 115.708 120.358 115.324 119.806 115.012C119.278 114.7 118.558 114.544 117.646 114.544H113.902V122.536H117.61Z" fill="white"/>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="185" height="228" fill="white" transform="translate(76 44)"/>
                    </clipPath>
                    </defs>
                    </svg>
                        
                </div>
            </div>
        </div>
        
        <div class="container">
           <div class="forms">
               <div class="input-group mb-3">
                       <input class="form-control" background-color: #DFDFDF  type="text" id="txt_cpf" placeholder="CPF" aria-label="Disabled input example" disabled>
               </div>
               <div class="input-group mb-3">
                       <input class="form-control" background-color: #DFDFDF type="text" id="txt_senha" placeholder="Senha" aria-label="Disabled input example" disabled>
               </div>

               <div>
                    <button type="button" class="btn btn-lg">Continuar</button>
               </div>
           </div>
        </div>
    
</body>
