@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

#nav{
    background-color: #61B15A ;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    line-height: 36px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav p{
    margin-top: 10px;
    font-size: 36px;
}

.navbar{
    height: 74px;
}

.container{
    display: flex;
    justify-content: center;
}

.gps-icon{
    position: absolute;
    left: 44.48px;
    right: 18.35%;
    margin-top: 50px;
}

.qr-icon{
    position: absolute;
    right: 34px;
    margin-top: 50px;
}

.text-historico{
    position: absolute;
    width: 139px;
    height: 28px;
    justify-content: center;
    margin-top: 79px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
