@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

#nav{
    background-color: #61B15A ;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    line-height: 36px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav p{
    margin-top: 10px;
    font-size: 36px;
}

.navbar{
    height: 74px;
}