<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/places.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>BeerBack</title>
</head>
<nav class="navbar" id="nav">
    <a class="navbar-brand" href="/"><svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.3812 0.361597C13.8282 0.799895 13.8689 1.48576 13.5031 1.96907L13.3812 2.10754L3.28987 12L13.3812 21.8925C13.8282 22.3308 13.8689 23.0166 13.5031 23.4999L13.3812 23.6384C12.9341 24.0767 12.2344 24.1165 11.7414 23.7579L11.6002 23.6384L0.618849 12.873C0.171759 12.4347 0.131115 11.7488 0.496915 11.2655L0.618849 11.127L11.6002 0.361597C12.092 -0.120532 12.8894 -0.120532 13.3812 0.361597Z" fill="#200E32"/>
        </svg>
    </a>
      <p class="navbar-brand">Localização</p>
      <p class="navbar-brand"></p>
  </nav>

<body>

    <div class="container">
       <div class="form">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Encontre o local mais próximo" aria-label="" aria-describedby="basic-addon1">
          </div>
       </div>
        <div class="map">
            <img src="/img/mapa.jpg" class="img-fluid" >
        </div>
</body>
<%- include('../../partials/footer.ejs')%>
<script src="https://kit.fontawesome.com/06ec0c2e7c.js" crossorigin="anonymous"></script>
</html>

<!-- Footer -->
<footer class="page-footer">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="/landingpage" class="btn-floating btn-fb mx-1">
            <svg class="home-icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.2867 23.3799V19.9297C10.2867 19.0554 10.9976 18.345 11.8782 18.3395H15.1117C15.9962 18.3395 16.7133 19.0515 16.7133 19.9297V23.3699C16.7133 24.1282 17.3295 24.7445 18.0933 24.75H20.2993C21.3296 24.7526 22.3186 24.3481 23.0481 23.6258C23.7775 22.9034 24.1875 21.9226 24.1875 20.8997V11.0991C24.1875 10.2728 23.8186 9.48905 23.1802 8.95894L15.6859 3.00855C14.3758 1.96776 12.5048 2.00138 11.2336 3.08856L3.90039 8.95894C3.23183 9.47342 2.83225 10.2595 2.8125 11.0991V20.8897C2.8125 23.0217 4.5533 24.75 6.7007 24.75H8.85633C9.22407 24.7526 9.57767 24.6095 9.83866 24.3522C10.0996 24.095 10.2464 23.745 10.2464 23.3799H10.2867Z" fill="#5C8358"/>
                <path d="M10.1572 21.7714V18.7047C10.1572 17.9246 10.7931 17.2908 11.581 17.2856H14.4671C15.2587 17.2856 15.9005 17.9209 15.9005 18.7047V18.7047V21.7809C15.9003 22.4432 16.4343 22.9845 17.103 23H19.0271C20.9451 23 22.5 21.4607 22.5 19.5618V19.5618V10.8378C22.4898 10.0908 22.1355 9.38935 21.538 8.93303L14.9577 3.6853C13.8049 2.77157 12.1662 2.77157 11.0134 3.6853L4.46203 8.94256C3.86226 9.39702 3.50739 10.0997 3.5 10.8474V19.5618C3.5 21.4607 5.05488 23 6.97291 23H8.89696C9.58235 23 10.138 22.4499 10.138 21.7714V21.7714" stroke="#200E32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.1572 21.7714V18.7047C10.1572 17.9246 10.7931 17.2908 11.581 17.2856H14.4671C15.2587 17.2856 15.9005 17.9209 15.9005 18.7047V18.7047V21.7809C15.9003 22.4432 16.4343 22.9845 17.103 23H19.0271C20.9451 23 22.5 21.4607 22.5 19.5618V19.5618V10.8378C22.4898 10.0908 22.1355 9.38935 21.538 8.93303L14.9577 3.6853C13.8049 2.77157 12.1662 2.77157 11.0134 3.6853L4.46203 8.94256C3.86226 9.39702 3.50739 10.0997 3.5 10.8474V19.5618C3.5 21.4607 5.05488 23 6.97291 23H8.89696C9.58235 23 10.138 22.4499 10.138 21.7714V21.7714" stroke="#200E32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.1572 21.7714V18.7047C10.1572 17.9246 10.7931 17.2908 11.581 17.2856H14.4671C15.2587 17.2856 15.9005 17.9209 15.9005 18.7047V18.7047V21.7809C15.9003 22.4432 16.4343 22.9845 17.103 23H19.0271C20.9451 23 22.5 21.4607 22.5 19.5618V19.5618V10.8378C22.4898 10.0908 22.1355 9.38935 21.538 8.93303L14.9577 3.6853C13.8049 2.77157 12.1662 2.77157 11.0134 3.6853L4.46203 8.94256C3.86226 9.39702 3.50739 10.0997 3.5 10.8474V19.5618C3.5 21.4607 5.05488 23 6.97291 23H8.89696C9.58235 23 10.138 22.4499 10.138 21.7714V21.7714" stroke="#200E32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.1572 21.7714V18.7047C10.1572 17.9246 10.7931 17.2908 11.581 17.2856H14.4671C15.2587 17.2856 15.9005 17.9209 15.9005 18.7047V18.7047V21.7809C15.9003 22.4432 16.4343 22.9845 17.103 23H19.0271C20.9451 23 22.5 21.4607 22.5 19.5618V19.5618V10.8378C22.4898 10.0908 22.1355 9.38935 21.538 8.93303L14.9577 3.6853C13.8049 2.77157 12.1662 2.77157 11.0134 3.6853L4.46203 8.94256C3.86226 9.39702 3.50739 10.0997 3.5 10.8474V19.5618C3.5 21.4607 5.05488 23 6.97291 23H8.89696C9.58235 23 10.138 22.4499 10.138 21.7714V21.7714" stroke="#200E32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <svg class="store-icon" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3412 7.58332C18.3756 7.50654 18.3918 7.42287 18.3884 7.33884H18.4167C18.2955 4.44806 15.9086 2.16666 13.0054 2.16666C10.1021 2.16666 7.7152 4.44806 7.59404 7.33884C7.57976 7.41971 7.57976 7.50245 7.59404 7.58332H7.50936C6.12107 7.58332 4.63704 8.49979 4.20619 10.9634L3.36365 17.6743C2.67429 22.6015 5.2115 23.8333 8.52424 23.8333H17.505C20.8082 23.8333 23.2688 22.0497 22.656 17.6743L21.8231 10.9634C21.3156 8.56877 19.8795 7.58332 18.5103 7.58332H18.3412ZM16.7843 7.58332C16.7542 7.50526 16.7382 7.42248 16.7371 7.33884C16.7371 5.26155 15.0473 3.57757 12.9629 3.57757C10.8784 3.57757 9.18866 5.26155 9.18866 7.33884C9.20294 7.41971 9.20294 7.50245 9.18866 7.58332H16.7843ZM9.85508 13.1609C9.3263 13.1609 8.89764 12.7197 8.89764 12.1755C8.89764 11.6313 9.3263 11.1901 9.85508 11.1901C10.3839 11.1901 10.8125 11.6313 10.8125 12.1755C10.8125 12.7197 10.3839 13.1609 9.85508 13.1609ZM15.1689 12.1755C15.1689 12.7197 15.5975 13.1609 16.1263 13.1609C16.6551 13.1609 17.0837 12.7197 17.0837 12.1755C17.0837 11.6313 16.6551 11.1901 16.1263 11.1901C15.5975 11.1901 15.1689 11.6313 15.1689 12.1755Z" fill="#5C8358"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8801 6.38192C16.6229 3.91976 14.531 2.00004 11.9885 2.00004C10.6836 1.99458 9.42727 2.50773 8.50043 3.42606C7.6959 4.2232 7.19715 5.26864 7.07952 6.38192H7.07864C5.29724 6.38192 3.80058 7.68308 3.38011 9.94232L2.61922 15.8123C1.97155 20.1105 3.99286 22 7.94875 22H16.046C19.7043 22 21.8909 19.8703 21.4419 16.0482L20.6564 9.98167C20.1528 7.69432 18.6947 6.38192 16.9516 6.38192H16.8801ZM15.4138 6.38192C15.1653 4.7215 13.7261 3.44777 11.9855 3.44777C11.0644 3.44391 10.1797 3.80526 9.52708 4.45192C8.99719 4.97695 8.65567 5.65494 8.54594 6.38192H15.4138ZM7.07864 7.82965H16.9516C17.9739 7.82965 18.8719 8.63792 19.2244 10.2299L19.968 15.9973C20.4105 19.0657 18.9375 20.5522 16.046 20.5522H7.94875C4.81775 20.5522 3.55418 19.3711 4.06021 16.0121L4.81697 10.1666C5.10614 8.61886 6.01393 7.82965 7.07864 7.82965ZM14.8652 10.5164C15.267 10.5164 15.5927 10.8405 15.5927 11.2403C15.5927 11.6067 15.319 11.9096 14.9639 11.9575L14.8652 11.9641H14.8208C14.419 11.9641 14.0933 11.64 14.0933 11.2403C14.0933 10.8738 14.367 10.5709 14.7221 10.523L14.8208 10.5164H14.8652ZM9.937 11.2403C9.937 10.8405 9.61129 10.5164 9.20951 10.5164H9.16512L9.0664 10.523C8.71131 10.5709 8.43762 10.8738 8.43762 11.2403C8.43762 11.64 8.76333 11.9641 9.16512 11.9641H9.20951L9.30822 11.9575C9.66331 11.9096 9.937 11.6067 9.937 11.2403Z" fill="#200E32"/>
            </svg>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="/historico" class="btn-floating btn-gplus mx-1">
            <svg class="historico-icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.4218 6.24997C11.4791 6.3666 11.517 6.49149 11.5339 6.61989L11.8472 11.2773L12.0027 13.6182C12.0043 13.8589 12.042 14.0981 12.1147 14.3281C12.3025 14.7741 12.7543 15.0576 13.2458 15.0379L20.7353 14.548C21.0596 14.5427 21.3728 14.6639 21.6059 14.8852C21.8002 15.0696 21.9256 15.3108 21.9651 15.5702L21.9784 15.7277C21.6685 20.0193 18.5166 23.5987 14.2339 24.5228C9.95125 25.4468 5.5596 23.4948 3.4433 19.7268C2.83319 18.6321 2.45211 17.4288 2.32243 16.1876C2.26826 15.8202 2.2444 15.4491 2.2511 15.0779C2.24441 10.4768 5.5209 6.49908 10.1074 5.54014C10.6594 5.45419 11.2005 5.74642 11.4218 6.24997Z" fill="#5C8358"/>
                <path opacity="0.4" d="M14.4788 2.25092C19.6086 2.38143 23.9201 6.07026 24.75 11.0388L24.7421 11.0755L24.7194 11.1288L24.7226 11.2752C24.7108 11.4691 24.636 11.6556 24.507 11.8063C24.3726 11.9633 24.189 12.0702 23.9868 12.1116L23.8635 12.1286L15.2226 12.6884C14.9352 12.7168 14.649 12.6241 14.4353 12.4334C14.2572 12.2746 14.1433 12.0601 14.1111 11.829L13.5311 3.2007C13.521 3.17152 13.521 3.13989 13.5311 3.11072C13.5391 2.87288 13.6437 2.64807 13.8218 2.48651C13.9999 2.32495 14.2365 2.2401 14.4788 2.25092Z" fill="#8BA769"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.524 9.75287C21.8849 5.81947 18.5439 2.89324 14.5606 2.77804C14.3712 2.77062 14.1867 2.83881 14.0476 2.96758C13.9085 3.09635 13.8264 3.27514 13.8192 3.46454V3.46454V3.52862L14.2677 10.238C14.2971 10.6897 14.6854 11.033 15.1373 11.0069L21.865 10.5584C22.0545 10.5443 22.2307 10.4553 22.3544 10.311C22.4781 10.1667 22.5392 9.97897 22.524 9.78949V9.75287Z" stroke="#200E32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.9016 6.76889C10.3296 6.6699 10.7675 6.88887 10.9451 7.29063C10.9916 7.38512 11.0196 7.48766 11.0275 7.59269C11.119 8.89246 11.3112 11.7391 11.4211 13.2769C11.4398 13.5539 11.5682 13.812 11.7778 13.9941C11.9873 14.1762 12.2608 14.2673 12.5378 14.2472V14.2472L18.1854 13.8993C18.4375 13.8842 18.6847 13.9739 18.8684 14.1472C19.0521 14.3205 19.1561 14.5621 19.1556 14.8147V14.8147C18.9267 18.225 16.4765 21.0761 13.1393 21.8151C9.80211 22.5541 6.37727 21.0041 4.72998 18.0092C4.23823 17.1472 3.92681 16.1943 3.81464 15.2083C3.76669 14.9056 3.7483 14.5991 3.75972 14.2929C3.76944 10.6509 6.32723 7.51285 9.89245 6.76889" stroke="#200E32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
          </a>
        </li>
        <li class="list-inline-item">
          <a href="/configuracoes" class="btn-floating btn-li mx-1">
            <svg class="settings-icon" width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2523 14.1459C22.6249 14.3439 22.9124 14.6564 23.1146 14.9689C23.5085 15.6147 23.4766 16.4064 23.0933 17.1043L22.3482 18.3543C21.9543 19.0209 21.2197 19.4376 20.4639 19.4376C20.0913 19.4376 19.6762 19.3334 19.3355 19.1251C19.0587 18.948 18.7394 18.8855 18.3987 18.8855C17.3448 18.8855 16.4612 19.7501 16.4293 20.7814C16.4293 21.9793 15.4499 22.9168 14.2257 22.9168H12.7779C11.5431 22.9168 10.5637 21.9793 10.5637 20.7814C10.5424 19.7501 9.65885 18.8855 8.60495 18.8855C8.25365 18.8855 7.93429 18.948 7.66816 19.1251C7.32751 19.3334 6.90169 19.4376 6.53975 19.4376C5.77328 19.4376 5.03875 19.0209 4.64487 18.3543L3.91034 17.1043C3.51646 16.4272 3.49517 15.6147 3.88904 14.9689C4.05937 14.6564 4.37873 14.3439 4.74068 14.1459C5.03875 14.0001 5.23036 13.7605 5.41134 13.4793C5.9436 12.5834 5.62424 11.4064 4.71939 10.8751C3.66549 10.2814 3.32484 8.95844 3.93163 7.92719L4.64487 6.69802C5.2623 5.66677 6.58233 5.30219 7.64687 5.90635C8.57302 6.40635 9.77594 6.07302 10.3189 5.1876C10.4892 4.89594 10.585 4.58344 10.5637 4.27094C10.5424 3.86469 10.6595 3.47927 10.8618 3.16677C11.2557 2.52094 11.9689 2.10427 12.746 2.08344H14.247C15.0348 2.08344 15.748 2.52094 16.1419 3.16677C16.3335 3.47927 16.4612 3.86469 16.4293 4.27094C16.408 4.58344 16.5038 4.89594 16.6742 5.1876C17.2171 6.07302 18.42 6.40635 19.3568 5.90635C20.4107 5.30219 21.7414 5.66677 22.3482 6.69802L23.0614 7.92719C23.6788 8.95844 23.3382 10.2814 22.2736 10.8751C21.3688 11.4064 21.0494 12.5834 21.5923 13.4793C21.7627 13.7605 21.9543 14.0001 22.2523 14.1459ZM10.4892 12.5105C10.4892 14.1459 11.8412 15.448 13.5125 15.448C15.1838 15.448 16.5038 14.1459 16.5038 12.5105C16.5038 10.8751 15.1838 9.5626 13.5125 9.5626C11.8412 9.5626 10.4892 10.8751 10.4892 12.5105Z" fill="#5C8358"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8067 7.62358L20.1842 6.54349C19.6577 5.62957 18.4907 5.31429 17.5755 5.83869V5.83869C17.1399 6.09531 16.6201 6.16812 16.1307 6.04106C15.6413 5.91399 15.2226 5.59749 14.9668 5.16134C14.8023 4.88412 14.7139 4.56836 14.7105 4.24601V4.24601C14.7254 3.72919 14.5304 3.22837 14.17 2.85764C13.8096 2.48691 13.3145 2.27783 12.7975 2.27805H11.5435C11.037 2.27804 10.5513 2.47988 10.194 2.83891C9.83669 3.19795 9.63717 3.68456 9.63961 4.19109V4.19109C9.6246 5.23689 8.77248 6.07678 7.72657 6.07667C7.40421 6.07332 7.08846 5.98491 6.81123 5.82038V5.82038C5.89606 5.29598 4.72911 5.61126 4.20254 6.52519L3.53435 7.62358C3.00841 8.53636 3.3194 9.70258 4.23 10.2323V10.2323C4.8219 10.574 5.18653 11.2056 5.18653 11.889C5.18653 12.5725 4.8219 13.204 4.23 13.5458V13.5458C3.32056 14.0719 3.00923 15.2353 3.53435 16.1453V16.1453L4.16593 17.2346C4.41265 17.6798 4.8266 18.0083 5.31619 18.1474C5.80578 18.2866 6.33064 18.2249 6.77462 17.976V17.976C7.21108 17.7213 7.73119 17.6515 8.21934 17.7822C8.70749 17.9128 9.12324 18.233 9.37416 18.6716C9.5387 18.9489 9.62711 19.2646 9.63046 19.587V19.587C9.63046 20.6435 10.487 21.5 11.5435 21.5H12.7975C13.8505 21.5 14.7055 20.6491 14.7105 19.5961V19.5961C14.7081 19.088 14.9089 18.6 15.2682 18.2407C15.6275 17.8814 16.1155 17.6806 16.6236 17.6831C16.9452 17.6917 17.2596 17.7797 17.5389 17.9394V17.9394C18.4517 18.4653 19.6179 18.1543 20.1476 17.2437V17.2437L20.8067 16.1453C21.0618 15.7075 21.1318 15.186 21.0012 14.6963C20.8706 14.2067 20.5502 13.7893 20.111 13.5366V13.5366C19.6718 13.2839 19.3514 12.8665 19.2208 12.3769C19.0902 11.8873 19.1603 11.3658 19.4154 10.9279C19.5812 10.6383 19.8214 10.3982 20.111 10.2323V10.2323C21.0161 9.70286 21.3264 8.54346 20.8067 7.63274V7.63274V7.62358Z" stroke="#200E32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <circle cx="12.1751" cy="11.889" r="2.63616" stroke="#200E32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
          </a>
        </li>
      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        BeerBack
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->